<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h2 class="title is-2">
        <b>Log in</b>
      </h2>
    </div>
  </div>
</section>

<section class="section container">
  
  <!-- Email -->
  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input 
        class="input"
        [ngClass]="{
          'is-danger': !email.isFailed(),
          'is-success': !email.isSuccess()
        }"
        type="email"
        placeholder="Email"
        (change)="onChange()"
        [(ngModel)]="emailValue"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span 
        class="icon is-small is-right"
        [ngClass]="{
          'is-hidden': email.isSuccess()
        }"
      >
        <i class="fas fa-check"></i>
      </span>
      <span 
        class="icon is-small is-right"
        [ngClass]="{
          'is-hidden': email.isFailed()
        }"
      >
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
    <p 
      class="help is-danger"
      [ngClass]="{
        'is-hidden': email.isFailed()
      }"
    >{{ email.getError() }}</p>
  </div>
  
  <!-- Password -->
  <div class="field">
    <label class="label">Password</label>
    <div class="control has-icons-left has-icons-right">
      <input 
        class="input" 
        [ngClass]="{
          'is-danger': !password.isFailed(),
          'is-success': !password.isSuccess()
        }"
        type="password" 
        placeholder="Password"
        (change)="onChange()"
        [(ngModel)]="passwordValue"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
      <span 
        class="icon is-small is-right"
        [ngClass]="{
          'is-hidden': password.isSuccess()
        }"
      >
        <i class="fas fa-check"></i>
      </span>
      <span 
        class="icon is-small is-right"
        [ngClass]="{
          'is-hidden': password.isFailed()
        }"
      >
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
    <p 
      class="help is-danger"
      [ngClass]="{
        'is-hidden': password.isFailed()
      }"
    >{{ password.getError() }}</p>
  </div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input 
          type="checkbox"
          checked
        />
        Remember me
      </label>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button 
        class="button is-info"
        [disabled]="(email.hasAnError() || password.hasAnError())"
        (click)="connect()"
        routerLink=""
      >
        <b>Log in</b>
      </button>
    </div>
    <div class="control">
      <button 
        class="button is-info is-light"
      >
        <b>Cancel</b>
      </button>
    </div>
  </div>

  <div class="field">
    Not registered ? <a routerLink="/signup">Sign up</a> know.
  </div>

</section>
